<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.4">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Song List</title>
    {% load static %}
    <script src="{% static 'assets/js/htmx.min.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>

    <div class="header">
        <div class="inner-header">
            <div class="logo-box">
                <img src="{% static 'assets/css/logo.png' %}" height="100"/>
                <p class="AP-BoldStretched">Rhythm analyser</p>
            </div>
            <div class="slim-header">
                <p class="AP-BoldStretched">
                    {% if user.is_superuser %}
                    🔴
                    {% endif %}
                    {{ user.get_username |default:" "}}
                    {% if user.is_authenticated %}
                    welcome!!
                    {% else %}
                    anauthorised 😤
                    {% endif %}
                </p>
            </div>
            <div class="buttons-box">
                {% if user.is_authenticated%}
                <button onclick="analyse()"><p class="AP-Normal">Analyse</p></button>
                <button onclick="logout()"><p class="AP-Normal">Log out</p></button>
                {% else %}
                <button onclick="login()"><p class="AP-Normal">Log in</p></button>
                {% endif %}

                <script>
                    function login() {
                        window.location.href = 'users/register';
                    }

                    function logout() {
                         window.location.href = 'users/logout';
                    }

                    function analyse() {
                         window.location.href = 'analyser/';
                    }
                </script>
            </div>
        </div>

    </div>

    <div class="song">
        <div class="song-container">
        {% include 'template/song-list.html' with songs=songs %}
        </div>
    </div>

</body>
</html>
