<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Song List</title>
    {% load static %}
    <script src="{% static 'assets/js/htmx.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>
    <h1>Song List</h1>
    <div>
        {% include 'template/song-list.html' with songs=songs %}
    </div>
</body>
</html>
