{% for song in songs %}
    {% if forloop.last %}
        <div class="song-item"
            hx-trigger="revealed"
            hx-get="{% url 'DjangoService:MusicCollection' %}?page={{ page_obj.number|add:1 }}"
            hx-swap="afterend"
        >
    {% else %}
        <div class="song-item">
    {% endif %}
            <img src="{{ song.disk_image.url }}" alt="Disk Image">
            <div class="song-details">
                <div class="song-title">{{ song.name }}</div>
                <div class="song-author">{{ song.author }}</div>
                <div class="song-meta">
                    <div>BPM: {{ song.bpm }}</div>
                    <div>Genre: {{ song.genre }}</div>
                    <div>Language: {{ song.language }}</div>
                </div>
            </div>
        </div>
{% endfor %}