{% for song in songs %}
    {% if forloop.last %}
        <div class="song-item"
                hx-trigger="revealed"
                hx-get="{% url 'DjangoService:MusicCollection' %}?page={{ page_obj.number|add:1 }}"
                hx-swap="afterend"
            >
    {% else %}
        <div class="song-item">
    {% endif %}
            <img src="{{ song.disk_image.url }}" alt="Disk Image">
            <div class="song-details">
                <div class="song-title"><p class="AP-BoldStretched">{{ song.name }}</p></div>
                <div class="song-author"><p class="AP-Normal">{{ song.author }}</p></div>
                <div class="song-meta">
                    <div><p class="AP-Normal">BPM: {{ song.bpm }}</p></div>
                    <div><p class="AP-Normal">Genre: {{ song.genre }}</p></div>
                    <div><p class="AP-Normal">Language: {{ song.language }}</p></div>
                </div>
            </div>
        </div>
{% endfor %}